<!DOCTYPE html>
<html>

  <head>
    <title>My Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      html,
      body {
        height: 100%;
      }

      body {
        min-height: calc(100% - 100px);
        /* adjust this value based on the height of your header and footer */
      }

      footer {
        height: 100px;
        /* adjust this value based on the height of your footer */
      }
    </style>
  </head>

  <body>

    <!-- page content goes here -->

    <div class="container">
      <!-- <em><h4 style="text-align:center;">This is the footer</h4></em> -->
      <footer class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <p>&copy; 2023 djangoApp Inc.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.3/dist/umd/popper.min.js"
      integrity="sha384-P7GtQj7nSF3hX91uZf5yYMWUg5zX2XGyR8Tc8JIF2BaK9Q+cHJdI7RrDzqkG4YbK"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>

</html>